<ul class="postnav">
	<li><a href="/postsfeed">Post Feed</a></li>
	<li><a href="/create">New Post</a></li>
</ul>	
<h1 class="newposth1">Create New Post</h1>
<form action="/create" method="post"role="form">
 <div class="titleForm">
   <label for="post_title">Post Title:</label>
   <br>
   <input id="post_title" name="title" type="text" value="" style="width=90%"/>
 </div>
 <div class="contentForm">
   <label for="post_content">Content (maximum 150 characters):</label>
   <br>
   <textarea id="post_content" name="content" rows="20" columns="30" value="Content"></textarea>
 </div>
 <button class="create_button" type="submit">Submit</button>
</form>