<!DOCTYPE html>
<html>
	<head>
		<title>Follow People</title>
	</head>
	<body>
		<h2 class="follow_users_title">Here, you can follow other users to see their posts as well!</h2>
		<p class="follow_users_p">List of Users</p>
		<% @printAllUsers.each do |printAllUsers| %>
		<p>
			<form class="follow_users_form" action="/follow" method="POST">
				<button name="followID" value="<%= printAllUsers.id %>" type="submit">Follow <%= printAllUsers.username %></button>
			</form>
			<form class="follow_users_form" action="/viewProfilePage" method="POST">
				<button name="followID" value="<%= printAllUsers.id %>" type="submit">Check out <%= printAllUsers.username %>'s profile!</button>
			</form>

		</p>
		<% end %>
	</body>
</html>
