<!DOCTYPE html>
<html>
	<head>
		<title>Home</title>
	</head>
	<body>
		<h1>Welcome to BB8...6!</h1>
		<h1>You are signed in, feel free to navigate the site!</h1>
		<h3>The World's Finest Micro-blog for Bikes</h3>
	</body>
</html>
