<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/main.css">
		<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Michroma" />
		<link rel="icon" type="image/png" href="/images/bb8tinyhead.png" />
	</head>
	<body>
		<img class="banner" src="images/banner.jpg"/>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/sign_in">Sign In</a></li>
				<li><a href="/signup">Sign Up</a></li>
				<li><a href="/sign_out">Sign Out</a></li>
				<li><a href="/postsindex">Posts</a></li>
				<li><a href="/followUsers">Follow Someone!</a></li>
				<li><a href="/profilePage">Your Profile</a></li>
			</ul>
		</nav>

		<% if flash[:notice] %>
 		<p class="alert-success"><%= flash[:notice] %>
		<% end %>
		<% if flash[:error] %>
 		<p class="alert-error"><%= flash[:error] %>
		<% end %>

		<%= yield %>

	</body>
</html>