<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/main.css">
	</head>
	<body>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/sign_in">Sign In</a></li>
				<li><a href="/signup">Sign Up</a></li>
				<!-- make a profile link where it goes to profile page only if signed in -->
			</ul>
		</nav>

		<%= yield %>

	</body>
</html>