<h1>Create a new blog post below!</h1>
	<form method="POST" action="/newposts">
			<label for="title">Title</label>
			<input type="text" name="title">
  			<label for="text">Post Text</label>   
  			<textarea name="content"></textarea>
			<input type="submit">
	</form>