<!DOCTYPE html>
<html>
	<head>
		<title>Sign Up</title>
	</head>
	<body>
			<form method="POST" action="/sign-up">
			<label for="username">Username</label>
			<input type="text" name="username">
			<label for="password">Password</label>
			<input type="password" name="password">
			<label for="email">Email</label>
			<input type="text" name="email">
			<input type="submit">
		</form>

	</body>
</html>

