<!DOCTYPE html>
<html>
	<head>
		<title>Sign In</title>
	</head>
	<body>
		<div class="sign_in">
		<form method="POST" action="/sign_in">
			<label for="username">Username</label>
			<input type="text" name="username">
			<label for="password">Password</label>
			<input type="password" name="password">
			<input class="sign_inButton" type="submit">
		</form>
	</div>
	</body>
</html>


