<!DOCTYPE html>
<html>
	<head>
		<title>Sign Up</title>
	</head>
	<body>
		<form method="POST" action="/signup">
			<label for="username">Username</label>
			<input type="text" name="username">
			<label for="password">Password</label>
			<input type="password" name="password">
			<label for="email">Email</label>
			<input type="text" name="email">
			<label for="birthday">Birthday(mm/dd/yyyy)</label>
			<input type="text" name="birthday">
			<input type="submit">
		</form>

	</body>
</html>

