<!DOCTYPE html>
<html>
	<head>
		<title>Sign Up</title>
	</head>
	<body>
		<br>
		<br><br>
		<br><br>
		<br><br>
		<h1>It looks like you might not have an account yet.</h1>
		<h2>Please sign up for a free account below.</h2>
			
		<form method="POST" action="/signup">
			<label for="username">Username</label>
			<input type="text" name="[user]username">
			<label for="password">Password</label>
			<input type="password" name="[user]password">
			<label for="email">Email</label>
			<input type="text" name="[user]email">
			<input type="submit">
		</form>

	</body>
</html>

